{% load static %}
 <nav class="navbar navbar-expand fixed-top">
  <ul class="navbar-nav mr-auto align-items-center">
    <li class="nav-item">
      <a class="nav-link toggle-menu" href="javascript:void();">
       <i class="fa-solid fa-bars menu-icon" style="font-size: 1.3rem;"></i>
     </a>
    </li>
  </ul>
     
  <ul class="navbar-nav align-items-center right-nav-link">
  </ul>
</nav>

<!--
<div class="headerpage">
    <div class="headerbody">
        <div class="headerimage">
            <a href="{% url 'admin_dashboard' %}"><img src="{% static 'images/LOGO.png' %}" alt=""></a>
        </div>
        <div class="headeraccount">
            <p>Name</p>
            <a href="">Account Logo</a>
        </div>
    </div>
</div>
-->